<h1 class="text-center">Mejoramos tu movilidad.</h1>
<hr>
<p>ahora estas <strong>Siguiendo</strong> el bus que seleccionaste.</p>
<div class="container-fluid">
  <%= render 'partials/routes' %>
  <%= render 'partials/index_map' %>
</div>