<div id="landing_title_box" class="text-center">
  <h1 id="landing_title" class="landing_title"></h1>
  <strong>Bienvenid@</strong>
</div>
<hr>
<div class="text-center landing-info" id="landing-info">
    <p>Hemos creado un servicio que permite <strong>visualizar</strong> sobre el mapa de <strong>Manizales</strong> <br>
    <strong>la ubicacion de los buses</strong> con la <strong>ruta</strong> que <strong>selecciones</strong></p>
    <p>No te preocupes por refrescar el mapa...<br>
    <strong style="color:#167fb9">Automaticamente </strong><strong>actualizaremos su ubicacion cada 20 segundos :D disfruta tu tiempo...</strong>
    </p>
  </div>

<div id="tuto_images" class="text-center ">
  <%= image_submit_tag("landing_map.png", :id => "img_step2", :name => "img_step2", :class => "tuto_image", :disabled => false) %>
</div>

<div class="text-center" >
  <%= link_to('Registrarme', new_user_registration_path, class: 'btn btn-outline-info  margin_button vive_register_button')  %>
</div>

<div class="text-center" style="margin-top: 20px">
  <i>ey! Que no se te pase el Bus.</i> <strong> A fresco! yo uso <%= image_submit_tag("vive_brand.png", :id => "vive_brand", :name => "vive_brand", :class => "vive_brand-button", :disabled => false) %></time></strong>
</div>

<script type="text/javascript">

  var currentdate = new Date();
  var datetime = "Last Sync: " + currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/"
                + currentdate.getFullYear() + " @ "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();
  var horas = currentdate.getHours();

if (horas <= 11) {
  document.getElementById("landing_title").innerHTML = "Buenos dias!";

  $('#landing_title').innerHTML = "buenos dias"
}
if (horas >=12 && horas <= 18) {
    document.getElementById("landing_title").innerHTML = "Buenas tardes";
  $('#landing_title').innerHTML = "buenas tardes"
}


</script>