<h1 class="text-center">Mejoramos tu movilidad.</h1>
<hr>
<p>Hemos creado un servicio que te permite conocer la ubicacion de los buses con la <strong>ruta</strong> que necesitas, podras visualizar los vehiculos sobre el mapa de tu ciudad donde actualizaremos su ubicacion cada 20 segundos. :D <strong>disfruta tu tiempo...</strong></p>
<div class="container-fluid">
  <%= render 'partials/routes' %>
  <%= render 'partials/index_map' %>
</div>







