<footer id="footer" class="navbar-fixed-bottom">
    <nav class="navbar-fixed-bottom navbar bg-inverse">
      <div class="text-center">
        <p style="color:white; margin-bottom: 0px;">
          <a href="http://mobilebrains.com.co" >
          <a class="navbar-brand" href="">
          <%= image_tag("vive_brand.png", :alt => "Vive movilidad") %>
          </a> and MobileBrains Developers Team.</a> All rights reserved &#174;.
        </p>
      </div>
    </nav>
</footer>