<footer id="footer" class="navbar-fixed-bottom">
    <nav class="navbar-fixed-bottom navbar bg-inverse">
      <div class="text-center">
        <p style="color:white; margin-bottom: 0px;">
          <%= link_to image_tag("vive_brand.png"), basic_landing_path, :class=>"icon-puzzle-piece icon-2x", :alt => "Vive movilidad" %>
           and MobileBrains Developers Team. All rights reserved &#174;.
        </p>
      </div>
    </nav>
</footer>