<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'>el mapa</div>
</div>
<script type="text/javascript">


$(function(){
  intializeMap();
});

function intializeMap(){
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.map.centerOn({lat: 5.574076, lng: -75.5926227});
    handler.fitMapToBounds();
  });
}

</script>