<div style='width: 100%;' class="text-center">
  <div id="map" class="map_dimensions" ></div>
</div>
<script type="text/javascript">


//$(function(){
//  intializeMap();

//});

function intializeMap(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    updateMarkersLocation();
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.map.centerOn({lat: 5.0633619, lng: -75.5102252});
    handler.fitMapToBounds();
    handler.getMap().setZoom(9);
    setInterval(updateMarkersLocation, 20000);

  });

}


function updateMarkers(){
  $.ajax({
          url: '/maps/updateLocations/',
          type: 'POST',
          data: {
            //bus_route: $('#route_name').val();
          },
          success: function(data) {
            handler.removeMarkers(markers)
            markers = handler.addMarkers(data);
          },
          error: function(data) {
            console.log(data);
          }
        });
}

function updateMarkersLocation(){
  $.ajax({
          url: '/basic/updateVehicleLocations/',
          type: 'GET',
          data: {
            bus_route_name: $('#bus_route_name').val()
          },
          success: function(data) {
            handler.removeMarkers(markers)
            markers = handler.addMarkers(data)
          },
          error: function(data) {
            console.log(data)
          }
        });
}


</script>